body{
    background: url("../../img/fondo_tp.png");
}

.top{
    text-align: center;
    background: black;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cont{
    background: white;
    text-align: center;
    width: 80%;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.pie{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;    
    font-family: Verdana, Arial, Helvetica;
    font-size: 15px;
    text-align: center;
    background: black;
    width: 80%;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

wfnombre{
    color: white;
    font-size: 1,5em;
}

.separador{
    padding-top: 15px;
}

.separadorr{
    padding-right: 5px;
}

.holdtop{
    margin-top: 5px;
}

.formlog{
    padding-left: 20%;
    padding-right: 20%; 
}

.formulario{
    text-align: left;
    padding-left: 38%;
}

